.safety {
     margin-top: 200px;
     display: flex;
     justify-content: center;
}

.safetyBC {
     z-index: 0;
     position: absolute;
     height: 420px;
     width: 100%;
     object-fit: cover;
}

.safetyContainer {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     max-width: 1430px;
     width: 90%;
     z-index: 5;
}

.safetyTitle {
     margin-top: 50px;
     text-align: center;
     font-size: 50px;
     color: white;
}

.safetyText {
     margin: 25px 0;
     text-align: center;
     font-size: 20px;
     color: white;
}

.safetyButton {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 525px;
     height: 85px;
     margin: 25px 0;
     background-color: #5d98af;
     border-radius: 16px;
}

.safetyButton:hover {
     transform: scale(1.01, 1.01);
}

.safetyButton:active {
     transform: scale(1.05, 1.05);
}

.safetyButtonText {
     color: white;
     z-index: 5;
     font-size: 26px;
     font-weight: 500;
}

@media only screen and (max-width: 900px) {
     .safetyBC {
          width: 100%;
          height: 340px;
     }

     .safetyButton {
          width: 80%;
          height: 75px;
          margin: 20px 0;
     }

     .safetyTitle {
          margin-top: 35px;
          font-size: 40px;
     }

     .safetyText {
          margin: 20px 0;
          font-size: 16px;
     }

     .safetyButtonText {
          font-size: 20px;
     }
}

@media only screen and (max-width: 500px) {
     .safetyBC {
          width: 100%;
          height: 340px;
     }

     .safetyButton {
          width: 80%;
          height: 65px;
          margin: 15px 0;
     }

     .safetyTitle {
          margin-top: 25px;
          font-size: 36px;
     }

     .safetyText {
          margin: 15px 0;
          font-size: 14px;
     }

     .safetyButtonText {
          font-size: 16px;
     }
}
